/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/style.css ***!
  \*****************************************************************/
body {
    background-color: grey;
    font-size: x-large;
    font-family: monospace;
    font-weight: bold;
    color: white;
    word-wrap: unset;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
#inputs {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 75px;
    width: 50%;
    min-width: 300px;
    max-width: 800px;
}
#inputs input {
    height: 40px;
    width: initial;
    text-align: center;
    border: black solid 3px;
    border-radius: 50px;
    font-size: xx-large;
    background-color: rgb(255, 255, 255);
}
#inputs img {
    position: absolute;
    right: 10px;
    top: 9px;
    width: 30px;
}
#weatherstatus {
    margin: auto;
    margin-top: 100px;
    width: 100px;
    text-align: center;
    text-transform: capitalize;
}
.tstats {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin: auto;
    height: 150px;
    width: 50%;
    min-width: 300px;
    max-width: 800px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
}
.bstats {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    margin-top: 40px;
    height: 150px;
    width: 50%;
    min-width: 300px;
    max-width: 800px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
}
.duelstats {
    line-height: 75px;
}
#high {
    font-size: 30px;
    text-align: right;
    color: rgb(231, 26, 26);
    text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
}
#low {
    font-size: 30px;
    text-align: right;
    color: rgb(51, 54, 233);
    text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
}
#temp {
    font-size: 50px;
}
#feelslike {
    text-align: left;
}
.strokeme {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
